@import url('https://fonts.googleapis.com/css?family=Fira+Mono');


.floated{
	border: solid 2px #ff4a4a;
}
.title{ 
	color: #f2f2f2;
	background: #ff4a4a;
	font-size: 75px; 
	line-height: 74px; 
	font-weight: 700; 
	margin: 0 5px 24px; 
	padding: 10px; 
	margin: 0 5px 24px; 
	font-family: 'Libre Baskerville', serif;
}

.semi-title{
	color: #263238;
	background: #f2f2f2;
	font-size: 75px; 
	line-height: 74px; 
	font-weight: 700; 
	margin: 0 5px 24px;  
	padding: 10px;
	float: right; 
	margin: 0 45px 24px;
	margin-top: 18px; 
	font-family: 'Libre Baskerville', serif;
}

.floated p{
	color: #263238;
	font-size: 22px;
	width: 670px;
	margin: 0 28px 24px;
	font-family: 'Fira Mono', monospace;
}

.q-container{
	width: 100%;
	overflow: hidden;
}

.questions{
	border: 2px solid #ff4a4a;
	width: 33%;
	float: left;
}

.questions p{
	color: #f2f2f2;
	background: #ff4a4a;
	display: inline-block;
	font-size: 18px;
	margin: 10px 28px 24px;
	padding-left: 4px;
	font-family: 'Fira Mono', monospace;
}

.questions2{
	border: 2px solid #ff4a4a;
	width: 33%;
	float: left;
}

.questions2 p{
	color: #f2f2f2;
	background: #ff4a4a;
	display: inline-block;
	font-size: 18px;
	margin: 10px 28px 24px;
	padding-left: 4px;
	font-family: 'Fira Mono', monospace;
}

.questions3{
	border: 2px solid #ff4a4a;
	width: 33%;
	float: left;
}

.questions3 p{
	color: #f2f2f2;
	background: #ff4a4a;
	display: inline-block;
	font-size: 18px;
	margin: 10px 28px 24px;
	padding-left: 4px;
	font-family: 'Fira Mono', monospace;
}

label{
	color: #263238;
	font-size: 22px;
	font-weight: 600;
	background: #f2f2f2;
	padding: 2px;
}

.btn-container{
	border: 2px solid #ff4a4a;
	padding: 10px;
	text-align: center;
}

.btn{
	color: #263238;
	background: #ff4a4a;
	font-size: 28px;
	font-weight: bold;
	border: none;
	padding: 2px 12px;
	border-radius: 2px;
	box-shadow: 4px 4px #263238;
	margin: 0 auto;
}